# 2.6 Подготовка к тестированию
## Задание номер 3
##### Проанализируйте данные о некоторых землетрясениях и найдите дату и время самого мощного среди представленных.

##### В файле лежат две колонки date (время землетрясения) и magnitude (значения силы землетрясения по шкале Рихтера).

In [1]:
import pandas as pd
df = pd.read_csv('Files/earthquakes.csv', encoding='cp1251', delimiter=',')
df

                   date  magnitude
0   08/07/1966 17:36:12       6.35
1   11/22/1974 16:25:34       5.55
2   02/26/1975 08:00:05       5.50
3   08/01/1975 20:20:05       5.70
4   11/26/1976 11:19:32       6.30
..                  ...        ...
60  04/02/2016 05:50:00       5.90
61  07/23/2016 09:59:01       5.60
62  12/28/2016 08:18:01       5.60
63  12/28/2016 08:22:12       5.60
64  12/28/2016 09:13:47       5.50

[65 rows x 2 columns]

In [2]:
max_earthquake = df.sort_values(by=['magnitude'], ascending=False)
print(max_earthquake.iloc[0]['date'])

05/02/1983 23:42:38

## Задание номер 4
##### По файлу посчитайте кол-во победителей финальных олимпиад (stage = 4) по математике

In [3]:
df = pd.read_csv('Files/moscow schools - winners.csv', encoding='utf-8', delimiter=',')
df

,FullName,ShortName,OlympiadType,Stage,Class,Subject,Status,Year,global_id
0,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472939
1,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472940
2,Государственное бюджетное общеобразовательное ...,ГБОУ лицей «Вторая школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2012/2013,4472941
3,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,4,11,Иностранный язык (английский язык),победитель,2012/2013,4472942
4,Государственное бюджетное образовательное учре...,ГБОУ СОШ № 26,Всероссийская олимпиада,3,11,Иностранный язык (английский язык),призёр,2012/2013,4472943
...,...,...,...,...,...,...,...,...,...
74223,Государственное бюджетное образовательное учре...,ГБОУ «Лицей «Вторая школа»,Всероссийская олимпиада,4,11,астрономия,призёр,2019/2020,1060253195
74224,Государственное бюджетное образовательное учре...,ГБОУ «Лицей «Вторая школа»,Всероссийская олимпиада,4,11,астрономия,призёр,2019/2020,1060253196
74225,Некоммерческое общеобразовательное частное учр...,НОЧУ «Британская международная школа»,Всероссийская олимпиада,3,10,Иностранный язык (французский язык),призёр,2019/2020,1060253198
74226,Некоммерческое общеобразовательное частное учр...,НОЧУ «Британская международная школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2019/2020,1060253199
74227,Некоммерческое общеобразовательное частное учр...,НОЧУ «Британская международная школа»,Всероссийская олимпиада,3,10,Иностранный язык (английский язык),призёр,2019/2020,1060253200

In [4]:
len(df[(df['Stage'] == '4') & (df['Subject'] == 'Математика') & (df['Status'] == 'победитель')])

46