# 2.14 Pandas. Дата и время
## Задание номер 1
##### По файлу titanic.csv определите сколько раз встречается в имени обращение Sir (там же где и Mr, Mrs в колонке Name).

In [1]:
import pandas as pd
df = pd.read_csv('Files/titanic_train.csv', encoding='cp1251', delimiter=',')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
df[df['Name'].str.contains('Sir. ')]['Name'].count()

1

## Задание номер 2
##### По файлу titanic.csv определите сколько за билет заплатил капитан (колонка Fare). (Это не капитан Титаника, просто капитан какого-то корабля, который был пассажиром, смотреть нужно также по обращению)

In [3]:
int(round(df[df['Name'].str.contains('Capt')]['Fare']))

71

## Задание номер 4
##### По файлу titanic.csv определите сколько за билет заплатил капитан (колонка Fare). (Это не капитан Титаника, просто капитан какого-то корабля, который был пассажиром, смотреть нужно также по обращению)

In [4]:
df = pd.read_csv('Files/crime.csv', encoding='cp1251', delimiter=',', parse_dates=['OCCURRED_ON_DATE'], index_col='OCCURRED_ON_DATE')
df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
OCCURRED_ON_DATE,,,,,,,,,,,,,,,,
2018-09-02 13:00:00,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
2018-08-21 00:00:00,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2018-09-03 19:27:00,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
2018-09-03 21:16:00,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
2018-09-03 21:05:00,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-05 17:25:00,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
2015-07-09 13:38:00,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
2015-07-09 13:38:00,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
2016-05-31 19:35:00,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
2015-06-22 00:12:00,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [5]:
df[(df.index.date == pd.to_datetime('2015-06-15').date()) & (df.index.hour == 8)]['INCIDENT_NUMBER'].count()

12

## Задание номер 5
##### По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений было сделано 15-го июня 2015 года в промежуток с 6 до 9 часов утра.

In [6]:
df[(df.index.date == pd.to_datetime('2015-06-15').date()) & (df.index.hour >= 6) & (df.index.hour < 9)]['INCIDENT_NUMBER'].count()

22

## Задание номер 6
##### По данным с сообщениями о преступлениях в Бостоне определите, сколько сообщений о вандализме было сделано 1-го января 2017 года.

In [7]:
df[(df.index.date == pd.to_datetime('2017-01-01').date()) & (df.OFFENSE_CODE_GROUP == 'Vandalism')]['INCIDENT_NUMBER'].count()

12

## Задание номер 7
##### По данным с сообщениями о преступлениях в Бостоне определите, день 2017 года, когда было больше всего сообщений о вандализме.

In [8]:
df = pd.read_csv('Files/crime.csv', encoding='cp1251', delimiter=',', parse_dates=['OCCURRED_ON_DATE'])
print(df[(df.YEAR == 2017) & (df.OFFENSE_CODE_GROUP == 'Vandalism')].groupby(df.OCCURRED_ON_DATE.dt.date).size().idxmax())

2017-05-05