# 2.16 Pandas. Продолжаем работу с датами
## Задание номер 2
##### По файлу определите кол-во видов товаров в булочной

In [1]:
import pandas as pd
df = pd.read_csv('Files/bakery.csv', encoding='utf-8', delimiter=',')
df

       TransactionNo          Items             DateTime
0                  1          Bread  2016-10-30 09:58:11
1                  2   Scandinavian  2016-10-30 10:05:34
2                  2   Scandinavian  2016-10-30 10:05:34
3                  3  Hot chocolate  2016-10-30 10:07:57
4                  3            Jam  2016-10-30 10:07:57
...              ...            ...                  ...
20502           9682         Coffee  2017-09-04 14:32:58
20503           9682            Tea  2017-09-04 14:32:58
20504           9683         Coffee  2017-09-04 14:57:06
20505           9683         Pastry  2017-09-04 14:57:06
20506           9684      Smoothies  2017-09-04 15:04:24

[20507 rows x 3 columns]

In [2]:
df['Items'].nunique()

94

## Задание номер 3
##### По файлу определите сколько чая (Tea) было продано в булочной за все время

In [3]:
df[df.Items == 'Tea'].Items.count()

1435

## Задание номер 4
##### По файлу определите сколько покупок было совершено первого мая 2017 года.

###### Кол-во покупок != кол-во строк

###### Кол-во покупок == Кол-во уникальных значений TransactionNo

In [4]:
df[df.DateTime.str.contains('2017-05-01')].TransactionNo.nunique()

50

## Задание номер 5
##### По файлу определите, сколько покупок было совершено в понедельники. Для этого:

###### -Преобразуйте колонку в тип datetime
###### -Создайте новую колонку, в которой будет информация о том, являлся ли день покупки понедельником
###### -Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок

In [5]:
df.DateTime = pd.to_datetime(df.DateTime)
df['Is_Monday'] = df.DateTime.dt.dayofweek == 0
df

       TransactionNo          Items            DateTime  Is_Monday
0                  1          Bread 2016-10-30 09:58:11      False
1                  2   Scandinavian 2016-10-30 10:05:34      False
2                  2   Scandinavian 2016-10-30 10:05:34      False
3                  3  Hot chocolate 2016-10-30 10:07:57      False
4                  3            Jam 2016-10-30 10:07:57      False
...              ...            ...                 ...        ...
20502           9682         Coffee 2017-09-04 14:32:58       True
20503           9682            Tea 2017-09-04 14:32:58       True
20504           9683         Coffee 2017-09-04 14:57:06       True
20505           9683         Pastry 2017-09-04 14:57:06       True
20506           9684      Smoothies 2017-09-04 15:04:24       True

[20507 rows x 4 columns]

In [6]:
df[df.Is_Monday].TransactionNo.nunique()

1441

## Задание номер 6
##### По файлу определите, сколько покупок было совершено в выходные. Для этого:

###### -Преобразуйте колонку в тип datetime
###### -Создайте новую колонку, в которой будет информация о том, являлся ли день покупки выходным
###### -Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок

In [7]:
# 0 - пн
# 1 - вт
# 2 - ср
# 3 - чт
# 4 - пт
# 5 - сб
# 6 - вс

df['Is_Holiday'] = (df.DateTime.dt.dayofweek == 5) | (df.DateTime.dt.dayofweek == 6)
df

       TransactionNo          Items            DateTime  Is_Monday  Is_Holiday
0                  1          Bread 2016-10-30 09:58:11      False        True
1                  2   Scandinavian 2016-10-30 10:05:34      False        True
2                  2   Scandinavian 2016-10-30 10:05:34      False        True
3                  3  Hot chocolate 2016-10-30 10:07:57      False        True
4                  3            Jam 2016-10-30 10:07:57      False        True
...              ...            ...                 ...        ...         ...
20502           9682         Coffee 2017-09-04 14:32:58       True       False
20503           9682            Tea 2017-09-04 14:32:58       True       False
20504           9683         Coffee 2017-09-04 14:57:06       True       False
20505           9683         Pastry 2017-09-04 14:57:06       True       False
20506           9684      Smoothies 2017-09-04 15:04:24       True       False

[20507 rows x 5 columns]

In [8]:
df[df.Is_Holiday].TransactionNo.nunique()

2962

## Задание номер 7
##### По файлу определите, в какой месяц какого года совершилось наибольшее кол-во покупок (TransactionNo)

###### -Преобразуйте колонку в тип datetime и сделайте ее индексом датафрейма
###### -Сделайте resample с периодичностью в 1 месяц
###### -Посчитайте кол-во уникальных значений в TransactionNo - это и будет кол-во покупок в каждом месяце
###### -Найдите в результате месяц где покупок больше всего

##### Ответ запишите в формате YYYY-MM

In [9]:
df = df.set_index('DateTime')
print(df.resample('M').nunique().TransactionNo.idxmax().strftime('%Y-%m'))

2017-03

## Задание номер 9
##### По файлу определите на какой адрес такси вызывали наибольшее кол-во раз

In [10]:
df = pd.read_csv('Files/uber.csv', encoding='utf-8', delimiter=',')
df

            DATE         TIME                       PICK UP ADDRESS
0       7/1/2014  12:00:00 AM         874 E 139th St Mott Haven, BX
1       7/1/2014  12:01:00 AM         628 E 141st St Mott Haven, BX
2       7/1/2014  12:01:00 AM        601 E 156th St South Bronx, BX
3       7/1/2014  12:01:00 AM         708 E 138th St Mott Haven, BX
4       7/1/2014  12:02:00 AM         700 E 140th St Mott Haven, BX
...          ...          ...                                   ...
91707  9/30/2014  11:47:00 PM            593 Oak Ter Mott Haven, BX
91708  9/30/2014  11:48:00 PM   645 Westchester Ave South Bronx, BX
91709  9/30/2014  11:51:00 PM        625 Tinton Ave South Bronx, BX
91710  9/30/2014  11:54:00 PM     350 Saint Anns Ave Mott Haven, BX
91711  9/30/2014  11:58:00 PM         846 Tinton Ave Morrisania, BX

[91712 rows x 3 columns]

In [11]:
print(df['PICK UP ADDRESS'].value_counts().idxmax())

 400 Brook Ave Mott Haven, BX

## Задание номер 10
##### По файлу определите самый загруженный день

In [12]:
df.DATE = pd.to_datetime(df.DATE)
print(df.groupby('DATE')['PICK UP ADDRESS'].size().idxmax().strftime('%Y-%m-%d'))

2014-09-13

## Задание номер 11
##### По файлу определите самую загруженную неделю. В качестве ответа укажите дату последнего дня недели (resample выдает ее по умолчанию)

In [13]:
df = df.set_index('DATE')
print(df.resample('W').nunique()['PICK UP ADDRESS'].idxmax().strftime('%Y-%m-%d'))

2014-09-14

## Задание номер 13
##### Напишите в какой месяц и в какой год произошло больше всего аварий

In [14]:
df = pd.read_csv('Files/disruptions.csv', encoding='utf-8', delimiter=',')
df

,Event Description,Year,Date Event Began,Time Event Began,Date of Restoration,Time of Restoration,Respondent,Geographic Areas,NERC Region,Demand Loss (MW),Number of Customers Affected,Tags
0,Severe Weather - Thunderstorms,2014,6/30/2014,8:00 PM,7/2/2014,6:30 PM,Exelon Corporation/ComEd,Illinois,RFC,Unknown,"420,000","severe weather, thunderstorm"
1,Severe Weather - Thunderstorms,2014,6/30/2014,11:20 PM,7/1/2014,5:00 PM,Northern Indiana Public Service Company,North Central Indiana,RFC,Unknown,"127,000","severe weather, thunderstorm"
2,Severe Weather - Thunderstorms,2014,6/30/2014,5:55 PM,7/1/2014,2:53 AM,We Energies,Southeast Wisconsin,MRO,424,"120,000","severe weather, thunderstorm"
3,Physical Attack - Vandalism,2014,6/24/2014,2:54 PM,6/24/2014,2:55 PM,Tennessee Valley Authority,"Nashville, Tennessee",SERC,Unknown,Unknown,"vandalism, physical"
4,Physical Attack - Vandalism,2014,6/19/2014,8:47 AM,6/19/2014,8:48 AM,Tennessee Valley Authority,"Nashville, Tennessee",SERC,Unknown,Unknown,"vandalism, physical"
...,...,...,...,...,...,...,...,...,...,...,...,...
972,Line Outages/Switch Fire,2000,6/28/2000,5:52 PM,6/28/2000,7:14:00 PM,Virginia Power/North Carolina Power,Virginia & North Carolina,SERC,175,"30,500","wild fire, transmission interruption"
973,Tripped Lines Fire,2000,6/14/2000,3:54 PM,6/14/2000,5:00:00 PM,Tucson Electric Power,Arizona,WECC,138,"40,911","wild fire, transmission interruption"
974,Transmission Line Loss,2000,3/18/2000,7:08 PM,3/18/2000,7:08:00 PM,Public Service of New Mexico,New Mexico,WECC,"1,040","500,000",transmission interruption
975,Transmission Line Loss,2000,3/18/2000,4:00 PM,3/18/2000,5:10:00 PM,El Paso Elec. Co.,Texas,MAIN,400,"100,000",transmission interruption
976,Ice Storm,2000,1/29/2000,10:00 PM,2/3/2000,12:00:00 PM,Duke Power Co.,South Carolina,SERC,300,"81,000","severe weather, winter storm"

In [15]:
df['Date Event Began'] = pd.to_datetime(df['Date Event Began'])
df = df.set_index('Date Event Began')
print(df.resample('M').nunique()['Date of Restoration'].idxmax().strftime('%Y-%m'))

2012-10

## Задание номер 14
##### В какой месяц и год среднее время устранения аварии было минимальным. Ответ запишите в таком формате:
###### 2015-12

In [16]:
df = pd.read_csv('Files/disruptions.csv', encoding='utf-8', delimiter=',')
df['Began DateTime'] = pd.to_datetime(df['Date Event Began'] + ' ' + df['Time Event Began'])
df['Restoration DateTime'] = pd.to_datetime(df['Date of Restoration'] + ' ' + df['Time of Restoration'])
df['Average Time To Eliminate The Accident'] = abs(df['Restoration DateTime'] - df['Began DateTime'])
df = df.set_index('Began DateTime')
print(df.resample('M')['Average Time To Eliminate The Accident'].mean().idxmin().strftime('%Y-%m'))

2005-04